/* BrainPower - Stylesheet CSS */
/* Import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&family=Roboto+Mono&display=swap');

/* General - Set default values to none*/
* {
    margin: 0;
    padding: 0;
    border: none;
}

/* General - Set font properties */
body,
input {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    letter-spacing: 4px;
    color: #3a3a3a;
}

/* Page Header */
#page-header {
    height: 75px;
    background-color: #2f2f2f;
    width: 100%;
}

/* Page Header, Company Logo Container */
#logo {
    height: 75px;
    width: 270px;
    display: flex;
    justify-content: center;
}

/* Page Header, Company Name */
#company {
    color: #fff;
    float: left;
    font-size: x-large;
    line-height: 75px;
}

/* Page Header, Logo Image */
#logo-img {
    width: 40px;
    height: 40px;
    margin-top: 12px;
}

/* Page Header, Instruction Button */
#btn-instruction {
    position: absolute;
    top: 0;
    letter-spacing: 2px;
    background-color: #b9b9b9;
    float: right;
    font-size: large;
    line-height: 75px;
    right: 30px;
    padding: 0 5px 0 5px;
}

/* Page Header, Action on Instruction Button when Hover */
#btn-instruction:hover {
    background-color: #5a5a5a;
    color: #fff;
}

/* Main Section - Game Title */
#game-title {
    margin-top: 20px;
    height: 50px;
    text-align: center;
}

/* Main Section - Game Area */
#game-area {
    width: 75%;
    margin: 10px auto 20px auto;
    text-align: center;
    min-height: 74vh;
    background-color: #b9b9b9;
}

/* Main Section - Timer */
#timer {
    font-size: large;
    font-family: 'Roboto Mono', monospace;
}

/* Main Section - Buttons for New Game, Submit and Next */
.btn {
    width: 180px;
    height: 60px;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: white;
    margin: 25px 0;
    background-color: #b9b9b9;
    border: 1px solid #2f2f2f;
    border-radius: 20px;
}

/* Main Section - Buttons for New Game, Submit and Next */
.btn:focus {
    outline: none;
}

/* Main Section - Buttons for New Game, Submit and Next */
.btn:active,
.btn:hover {
    box-shadow: 2px 2px grey;
}

/* Main Section - Buttons for New Game, Submit and Next */
.btn-small {
    width: 120px;
    margin: 25px 50px;
}

/* Main Section - Define squares for holding the numbers */
.memory-square,
.answer-square{
    margin-top: 40px;
    position: relative;
    width: 2em;
    height: 2em;
    background-color: white;
    border: solid 1px black;
    font-size: x-large;
    display: inline-block;
    text-align: center;
    padding: 2px;
}

/* Main Section - Reset top margin for answer squares */
.answer-square{
    margin-top: 0;
}

/* Main Section - Center number in the memory squares */
.memory-square span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   
}

/* Main Section - Base values for common div sections */
.div {
    line-height: 2em;
    color: black;
    font-size: xx-large;
}

/* Message Modal - background */
/* Hidden by default and place on top */
.msg-modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    text-align: left;
  }
  
  /* Message Modal - Content */
  .msg-modal-content {
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
  }
  
  /* Message Modal - Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  /* Message Modal - Animation */
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  /* Message Modal - The Close Button */
  .msg-modal-close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  /* Message Modal - The Close Button */
  .msg-modal-close:hover,
  .msg-modal-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* Message Modal - Header */
  .msg-modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  }
  
  /* Message Modal - Body */
  .msg-modal-body {
    padding: 2px 16px;
    margin-left: 10%;
    text-align: center;  
  }

/* Footer, Initial Background Color - All Papges */
#footer {
    background-color: #fff;
}

/* Page Footer, Contact Section */
.footer-contact {
    padding: 10px;
    height: 80px;
    text-align: center;
    flex: 1;
    order: 1;
    margin-top: 0;
    color: #fff;
    background-color: #2f2f2f;
}

/* Page Footer, Contact href */
.footer-contact a {
    text-decoration: none;
    color: #fff;
}

/* Page Footer, Contact Hover on href */
.footer-contact a:hover {
    text-decoration: none;
    color: black;
}

/* Page Footer, Social Network Section */
.social-networks {
    margin-top: 5px;
    text-align: center;
    padding: 10px;
    height: 80px;
    flex: 1;
    order: 3;
    color: #fff;
    background-color: #2f2f2f;
}

/* Page Footer, Social Network List */
.social-networks ul {
    height: 60px;
}

/* Page Footer, Social Network Items */
.social-networks li {
    display: inline;
}

/* Page Footer, Social Network Icons */
.social-networks i {
    font-size: 160%;
    text-align: center;
    margin: 30px;
    color: #fff;
}

/* Page Footer, Hover on Social Network Icons */
.social-networks i:hover {
    font-size: 160%;
    color: black;
}

/* MEDIA QUERIES */

/* Media Query Below 767 Start - Display width below 768px (iPad) */
@media (max-width: 767px) {

    /* Home Page - Change Container Size on Page Header Area */
    /* and stack Company Logo on top of the Instruction Button */
    #page-header {
        height: 125px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    /* Home Page - Change Container Size on Logo Area */
    #logo{
        height: 75px;
        width: 100%;
    }

    /* Home Page - Move Instruction Button Below Company Logo */
    #btn-instruction {
        position: relative;
        right: 0;
        width: 100%;
        line-height: 50px;
    }

    /* Main Section - Game Area */
    #game-area {
        width: 90%;
    }
    
}
/* Media Query Below 767 End */

/* Media Query Above 767 Start - Display width above 767px (iPad) */
@media (min-width: 768px) {

    /* Page Footer, All Sections in a Row */
    #footer {
        display: flex;
        justify-content: space-between;
    }
    
    /* Page Footer, Contact Section to the Left */
    .footer-contact {
        text-align: left;
        padding-left: 30px;
    }
    
    /* Page Footer, Social Media Section to the Right */
    .social-networks {
        text-align: right;
        margin-top: 0;
        padding-right: 30px;
    }
    
    /* Page Footer, Align Sicial Media Icons */
    .social-networks i {
        text-align: right;
        margin: 30px 0 30px 30px;
    }
    
}
/* Media Query Above 767 End */

/* Media Query Below 600 Start - Display width below 600px */
@media (max-width: 599px) {

    /* Main Section - Reduce font size in squares for holding the numbers */
    .memory-square,
    .answer-square{
        font-size: large;
    }

    /* Main Section - Reduce all button size */
    .btn {
        width: 150px;
        height: 50px;
        margin: 10px 0;
        border-radius: 15px;
    }

    /* Main Section - Reduce buttons size for Submit and Next */
    .btn-small {
        width: 100px;
        margin: 10px 30px;
    }

    /* Main Section - Reduce font size for all div sections */
    .div {
        font-size: 140%;
    }

    /* Main Section - Reduce graphic size */
    .success-bar {
        width: 75px;
        height: 30px;
    }

}
/* Media Query Below 600 End

/* Media Query Below 550 Start - Display width below 550px */
@media (max-width: 549px) {

    /* Main Section - Game Title */
    #game-title {
        font-size: 150%;
        margin: 20px 30px 0 30px;
    }

    /* Main Section - Result Section */
    #result {
        height: 4em;
        margin: 0 30px;
    }

    /* Main Section - Timer Section */
    #timer {
        font-size: 100%;
    }
    
    /* Main Section - Reduce font size in squares for holding the numbers */
    .memory-square,
    .answer-square{
        font-size: 90%;
    }

    /* Main Section - Reduce font size for all div sections */
    .div {
        font-size: 120%;
    }

}
/* Media Query Below 550 End