/* BrainPower - Stylesheet CSS */
/* Import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&family=Roboto+Mono&display=swap');

/* General - Set default values to none*/
* {
    margin: 0;
    padding: 0;
    border: none;
}

/* General - Set font properties */
body,
input {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    letter-spacing: 4px;
    color: #3a3a3a;
}

/** Styles for All Pages - START **/
/* All Pages Header, set background */
.page-header {
    overflow: hidden;
    background-color: #2f2f2f;
    position: relative;
}

/* All Pages Header, set <a> tag properties */
.page-header a {
    color: white;
    height: 75px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

/* All Pages Header, set menu icon properties */
.page-header a.icon {
    background: #2f2f2f;
    width: 30px;
    text-align: center;
    height: 34px;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    border: 0;
    border-right: 1px solid #b9b9b9;
}

/* All Pages Header, hide menu initially */
.page-header #myLinks {
    background: black;
    display: none;
}

/* All Pages Header, set menu <a> tag properties */
.topnav a {
    height: 35px;
    padding: 25px 5px 15px 10px;
    text-decoration: none;
    font-weight: 600;
    border-top: 1px solid #b9b9b9;
}

/* All Pages Header, set menu <a> tag hover properties */
.topnav a:hover {
    background-color: #5f5f5f;
    color: black;
}

/* All Pages Header, set menu item active properties */
.topnav a.active {
    color: #9f9f9f;
}

/* All Pages Header, Company Name */
#company {
    color: #fff;
    float: left;
    font-size: x-large;
    line-height: 75px;
    margin-left: 52px;
}

/* All Pages Header, Logo Image */
#logo-img {
    width: 40px;
    height: 40px;
    margin-top: 12px;
}

/* All Pages Footer, Initial Background Color */
#footer {
    background-color: #fff;
}

/* All Pages Footer, Contact Section */
.footer-contact {
    padding: 10px;
    height: 80px;
    text-align: center;
    flex: 1;
    order: 1;
    margin-top: 0;
    color: #fff;
    background-color: #2f2f2f;
}

/* All Pages Footer, Contact href */
.footer-contact a {
    text-decoration: none;
    color: #fff;
}

/* All Pages Footer, Contact Hover on href */
.footer-contact a:hover {
    text-decoration: none;
    color: black;
}

/* All Pages Footer, Social Network Section */
.social-networks {
    margin-top: 5px;
    text-align: center;
    padding: 10px;
    height: 80px;
    flex: 1;
    order: 3;
    color: #fff;
    background-color: #2f2f2f;
}

/* All Pages Footer, Social Network List */
.social-networks ul {
    height: 60px;
}

/* All Pages Footer, Social Network Items */
.social-networks li {
    display: inline;
}

/* All Pages Footer, Social Network Icons */
.social-networks i {
    font-size: 160%;
    text-align: center;
    margin: 30px;
    color: #fff;
}

/* All Pages Footer, Hover on Social Network Icons */
.social-networks i:hover {
    font-size: 160%;
    color: black;
}
/** Styles for All Pages - END **/

/** Styles for Index Page - START **/
/* Index Page Header - Navigation link to play game */
#btn-game {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-decoration: none;
    position: absolute;
    top: 0;
    letter-spacing: 2px;
    color: black;
    background-color: #b9b9b9;
    float: right;
    font-size: large;
    line-height: 75px;
    right: 30px;
    padding: 0 5px 0 5px;
    text-align: center;
}

/* Index Page Header - Navigation link to play game hover */
#btn-game:hover {
    background-color: #5a5a5a;
    color: #fff;
}

/* Index Page - Section Titles */
.manual-title {
    width: 85%;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
}

/* Index Page - Section Lists */
.manual-list {
    list-style-type: none;
    width: 85%;
    margin: auto;
    text-align: center;
    line-height: 1.5em;
}

/* Index Page - Section List items */
.manual-list>li {
    padding-bottom: 0.75em;
}

/* Index Page - Button to play game */
#btn-play-game {
    padding: 10px;
    text-decoration: none;
    background-color: green;
    color: #fff;
    line-height: 75px;
    font-size: large;
    border: 1px solid #2f2f2f;
    border-radius: 10px;
}

/* Index Page - Button to play game hover */
#btn-play-game:hover {
    background-color: #4a4a4a;
    box-shadow: 2px 2px grey;
}
/** Styles for Index Page - END **/

/** Styles for Game Page - START **/
/* Game Page Header, Instruction Button */
#btn-instruction {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    position: absolute;
    top: 0;
    letter-spacing: 2px;
    background-color: #b9b9b9;
    float: right;
    font-size: large;
    line-height: 75px;
    right: 30px;
    padding: 0 5px 0 5px;
}

/* Game Page Header, Action on Instruction Button when Hover */
#btn-instruction:hover {
    background-color: #5a5a5a;
    color: #fff;
}

/* Game Page Main Section - Game Title */
#game-title {
    margin-top: 20px;
    height: 50px;
    text-align: center;
}

/* Game Page Main Section - Game Area */
#game-area {
    width: 75%;
    margin: 10px auto 20px auto;
    text-align: center;
    min-height: 74vh;
    background-color: #b9b9b9;
}

/* Game Page Main Section - Timer */
#timer {
    font-size: large;
    font-family: 'Roboto Mono', monospace;
}

/* Game Page Main Section - Buttons for New Game, Submit and Next */
.btn {
    width: 180px;
    height: 60px;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: white;
    margin: 25px 0;
    background-color: #b9b9b9;
    border: 1px solid #2f2f2f;
    border-radius: 20px;
}

/* Game Page Main Section - Buttons for New Game, Submit and Next */
.btn:focus {
    outline: none;
}

/* Game Page Main Section - Buttons for New Game, Submit and Next */
.btn:active,
.btn:hover {
    box-shadow: 2px 2px grey;
}

/* Game Page Main Section - Buttons for New Game, Submit and Next */
.btn-small {
    width: 120px;
    margin: 25px 50px;
}

/* Game Page Main Section - Define squares for holding the numbers */
.memory-square,
.answer-square {
    margin-top: 40px;
    position: relative;
    width: 2em;
    height: 2em;
    background-color: white;
    border: solid 1px black;
    font-size: x-large;
    display: inline-block;
    text-align: center;
    padding: 2px;
}

/* Game Page Main Section - Reset top margin for answer squares */
.answer-square {
    margin-top: 0;
}

/* Game Page Game Page Main Section - Center number in the memory squares */
.memory-square span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Game Page Main Section - Base values for common div sections */
.div {
    line-height: 2em;
    color: black;
    font-size: 180%;
}

/* Game Page Main Section - Default font size for best score section */
#best-score {
    font-size: 120%;
}

/* Game Page Message Modal - background */
/* Hidden by default and place on top */
.msg-modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 70%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    text-align: left;
}

/* Game Page Message Modal - Content */
.msg-modal-content {
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}

/* Game Page Message Modal - Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

/* Game Page Message Modal - Animation */
@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

/* Game Page Message Modal - The Close Button */
.msg-modal-close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

/* Game Page Message Modal - The Close Button */
.msg-modal-close:hover,
.msg-modal-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Game Page Message Modal - Header */
.msg-modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

/* Game Page Message Modal - Body */
.msg-modal-body {
    padding: 2px 16px;
    margin-left: 10%;
    text-align: center;
}
/** Styles for Game Page - END **/

/** MEDIA QUERIES - START **/
/* Media Query Below 767 Start - Display width below 768px (iPad) */
@media (max-width: 767px) {

    /* Index Page - Move Instruction Button Below Company Logo */
    #btn-instruction {
        position: relative;
        right: 0;
        width: 100%;
        line-height: 50px;
    }

    /* Game Page Header - Move Play Game Button Below Company Logo */
    #btn-game {
        padding: 0;
        position: relative;
        right: 0;
        width: 100%;
        height: 50px;
        line-height: 50px;
    }

    /* Game Page Main Section - Game Area */
    #game-area {
        width: 90%;
    }

}
/* Media Query Below 767 End */

/* Media Query Above 767 Start - Display width above 767px (iPad) */
@media (min-width: 768px) {

    /* All Pages Footer, All Sections in a Row */
    #footer {
        display: flex;
        justify-content: space-between;
    }

    /* All Pages Footer, Contact Section to the Left */
    .footer-contact {
        text-align: left;
        padding-left: 30px;
    }

    /* All Pages Footer, Social Media Section to the Right */
    .social-networks {
        text-align: right;
        margin-top: 0;
        padding-right: 30px;
    }

    /* All Pages Footers, Align Social Media Icons */
    .social-networks i {
        text-align: right;
        margin: 30px 0 30px 30px;
    }

}
/* Media Query Above 767 End */

/* Media Query Below 600 Start - Display width below 600px */
@media (max-width: 599px) {

    /* Game Page Main Section - Reduce font size in squares for holding the numbers */
    .memory-square,
    .answer-square {
        font-size: large;
    }

    /* Game Page Main Section - Reduce all button size */
    .btn {
        width: 150px;
        height: 50px;
        margin: 10px 0;
        border-radius: 15px;
    }

    /* Game Page Main Section - Reduce buttons size for Submit and Next */
    .btn-small {
        width: 100px;
        margin: 10px 30px;
    }

    /* Game Page Main Section - Reduce font size for all div sections */
    .div {
        font-size: 140%;
    }

    /* Game Page Main Section - Reduce graphic size */
    .success-bar {
        width: 75px;
        height: 30px;
    }

}
/* Media Query Below 600 End

/* Media Query Below 550 Start - Display width below 550px */
@media (max-width: 549px) {

    /* Index Page - Reduce title font size */
    .manual-title {
        font-size: 120%;
    }

    /* Game Page Main Section - Game Title */
    #game-title {
        font-size: 150%;
        margin: 20px 30px 0 30px;
    }

    /* Game Page Main Section - Result Section */
    #result {
        height: 4em;
        margin: 0 30px;
    }

    /* Game Page Main Section - Timer Section */
    #timer {
        font-size: 100%;
    }

    /* Game Page Main Section - Success Rate Section */
    #success-rate {
        margin: 0 30px;
    }

    /* Game Page Main Section - Reduce font size in squares for holding the numbers */
    .memory-square,
    .answer-square {
        font-size: 90%;
    }

    /* Game Page Main Section - Reduce font size for all div sections */
    .div {
        font-size: 120%;
    }
}
/* Media Query Below 550 End

/* Media Query Below 400 Start - Display width below 400px */
@media (max-width: 399px) {

    /* All Pages Header, Menu Bar */
    .topnav a {
        font-size: 95%;
        letter-spacing: 2px;
    }
    
    /* Game Page Main Section - Game Area */
    #game-area {
        width: 95%;
    }

    /* Game Page Main Section - Game Title */
    #game-title {
        font-size: 150%;
        margin: 10px 30px 0 30px;
    }

    /* Game Page Main Section - Result Section */
    #result {
        height: 3em;
        margin: 0 30px;
    }

    /* Game Page Main Section - Timer Section */
    #timer {
        font-size: 80%;
    }

    /* Game Page Main Section - Success Rate Section */
    #success-rate {
        margin: 0 60px;
    }

    /* Game Page Main Section - Best Score Section */
    #best-score {
        font-size: 100%;
    }

    /* Game Page Main Section - Reduce font size in squares for holding the numbers */
    .memory-square,
    .answer-square {
        font-size: x-small;
    }

    /* Game Page Main Section - Reduce all button size */
    .btn {
        font-size: 75%;
        width: 120px;
        height: 40px;
        margin: 10px 0;
        border-radius: 10px;
    }

    /* Game Page Main Section - Reduce buttons size for Submit and Next */
    .btn-small {
        width: 85px;
        margin: 15px 10px;
    }

    /* Game Page Main Section - Reduce font size for all div sections */
    .div {
        font-size: 100%;
    }

}
/* Media Query Below 400 End

/* Media Query Below 310 Start - Display width below 310px */
@media (max-width: 309px) {

    /* All Pages Header, Company Name */
    #company {
        font-size: 130%;
    }

    /* All Pages Header, Logo Image */
    #logo-img {
        width: 35px;
        height: 35px;
        margin-top: 16px;
    }

    /* All Pages Header, Menu Bar */
    .topnav a {
        font-size: 85%;
        letter-spacing: 2px;
    }

    /* Game Page Main Section - Game Area */
    #game-area {
        width: 98%;
    }

    /* Game Page Main Section - Game Title */
    #game-title {
        font-size: 130%;
    }

    /* Game Page Main Section - Result Section */
    #result {
        margin: 0 20px;
    }

    /* Game Page Main Section - Reduce font size for all div sections */
    .div {
        font-size: 85%;
    }

    /* Game Page Main Section - Best Score Section */
    #best-score {
        font-size: 85%;
    }

    /* Game Page Main Section - Reduce font size in squares for holding the numbers */
    .memory-square,
    .answer-square {
        font-size: xx-small;
    }

    /* All Pages Footers, Reduce letter spacing in contact us section */
    .footer-contact p,
    .footer-contact a {
        letter-spacing: 3px;
    }

    /* All Pages Footers, Align Social Media Icons */
    .social-networks i {
        text-align: center;
        margin: 30px 20px 15px 20px;
    }
}
/* Media Query Below 310 End
/** MEDIA QUERIES - END **/

/** Error 404 page - START **/
/* Error 404 Page - Image */
#error-sign {
    margin-top: 50px;
    font-size: 500%;
    display: block;
    text-align: center;
    color: orange;
}

/* Error 404 Page - 404 Heading */
#error>h1 {
    margin-top: 10px;
    font-size: 400%;
    text-align: center;
}

/* Error 404 Page - Description */
#error>h2 {
    text-align: center;
    display: block;
}

/* Error 404 Page - href */
#error>a {
    text-align: center;
    display: block;
    color: #3a3a3a;
}

/* Error 404 Page - Message */
#error>span {
    margin-top: 50px;
    text-align: center;
    display: block;
}
/** Error 404 page - END **/